*.suo

# dll's
/**/bin*
/**/obj*
/**/.vs*
/**/packages/*
PT/Xamarin/Cross/FListViewImpl/UpgradeLog.htm
PT/Xamarin/Cross/FListViewImpl/UpgradeLog2.htm
PT/Xamarin/Cross/FListViewImpl/FListViewImpl/FListViewImpl.Android/FListViewImpl.Android.csproj.bak
PT/Xamarin/Cross/ListView/ListView.Forms.Plugin.Android/ListView.Forms.Plugin.Android.csproj.bak
