@{
    ViewBag.Title = "Products Page";
}

<div class="jumbotron">
   <h1 class="display-4">Hello, Sana Commerce!</h1>
   <p class="lead">This is a small web application developed using ASP.NET MVC; for more information about me, on footer you can find my social networks.</p>
   <hr class="my-4">
   <div class="container-fluid">
      <div class="row">
         <div class="col-12 col-md-8 offset-md-2 text-center">
            <a href="@Url.Action("Index", "Product")">
               <img src="~/Content/img/banner.png" class="img-fluid rounded border border-danger" alt="Responsive image">
            </a>            
         </div>
      </div>
   </div>   
</div>